body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a242c;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button,
button {
  border: none;
  background: #607d8b;
  color: white;
  padding: 0.25em .5em;
  border: 3px solid transparent;
  text-decoration: none;
}

.button:hover,
button:hover {
  background: #3c525c;
  cursor: pointer;
  box-shadow: 0 0 10px slategrey;
  transition: all .25s cubic-bezier(0, 0, 0.2, 1);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.info {
  background: rgba(100, 120, 255, 0.15);
}

.warning {
  background: rgba(255, 111, 0, 0.15);
}

.error {
  background: rgba(255, 0, 0, 0.15);
}

.success {
  background: rgba(0, 255, 0, 0.15);
}

button.info,
.button.info {
  background: rgba(100, 120, 255, 0.15);
}

button.warning,
.button.warning {
  background: rgba(255, 111, 0, 0.15);
}

button.error,
.button.error {
  background: rgba(255, 0, 0, 0.15);
}

button.success,
.button.success {
  background: rgba(0, 255, 0, 0.15);
}



body {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/*
NEEDS SORTING OUT
*/
img.App-logo {
  margin: 10px auto;
}

nav.isPC {
  position: unset;
  width: auto;
  height: auto;
  min-width: 275px;
}

.main_content {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex: 1;
}


.main_content .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}



div#root {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

nav icon {
  padding: 0.25em;
  background: #ffffff29;
}

nav section>* {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0000002e;
  gap: 1em;
  margin: 0;
  color: white;
  text-decoration: none;
  /* clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px)); */
}

nav span {
  padding: 0.25em;
}

nav section {
  gap: .25em;
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
  padding: 0 0 0.25em 0;
  max-width: unset;
}

nav {
  padding: 0.5em;
  background: #1a242c;
}

nav section>a:hover {
  background: #ffffff29;
}

nav a.active {
  background: #ffffff29;
}

nav a,
nav button {
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
  margin: 0 0.25em;
}




li.list-group-item {
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
  background: #ffffff08;
  padding: .5em;
}

.myBooks>ul.list-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: 1px solid #8080803b; */
  padding: 0.5em;
  margin: 0;
  flex: 1;
  background: transparent;
}

.myBooks {
  display: flex;
  flex-direction: column;
  flex: 1;
}

li.list-group-item h5 {
  margin: 0;
  font-size: 1em;
  padding: 0.25em 1em;
}

li.list-group-item>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0000000f;
  /* padding: 0.5em; */
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
}

li.list-group-item>div small {
  gap: 1em;
  display: flex;
  background: #0000001c;
  padding: 0.25em;
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
}

* {}

li.list-group-item p {
  margin: 0;
  color: white;
}

li.list-group-item small {
  color: #050608;
}

header {
  background: #2d3841;
  padding: .5em;
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
}

header * {
  margin: 0;
}

.main_content>.content {
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
  background: #3c4b56;
  margin: .25em;
}


.main_content>.content>header {
  background: #3c4b56;
}





footer {
  background: rgb(0 0 0 / 25%);
}

.alert {
  margin: 1em;
  border: 1px solid red;
}

.alert .content p {
  margin: 0.25em .5em;
}

.main_content .content form>form_group,
.main_content .content form>button {
  margin: 1em;
}

.main_content .content form {
  width: fit-content;
  margin: 1em auto;
  border: 2px solid #2d3841;
}

.public-login-page .alert {
  width: fit-content;
  padding: 1em;
  margin: 0 auto;
}

searchlist results a {
  color: #00adff;
  background: #2b3338;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  border: 1px solid black;
  text-decoration: none;
}

searchlist results a thumbnail {
  min-width: 125px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

searchlist results {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0.5em;
  background: #0000002b;
  overflow: auto;
}

searchlist results a info * {
  margin: 0;
}

searchlist results a info {
  padding: 0.5em;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #0000001f;
}

searchlist results a:hover {
  background: #364148;
}



li.list-group-item>div small a {
  border: none;
  background: #607d8b;
  color: white;
  padding: 0.5em 1em;
  border: 3px solid transparent;
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
  text-decoration: none;
}









.content section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.appFunctions {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.appFunctions>section>div {
  display: flex;
  align-items: center;
  padding: 1em;
  background: #00000014;
  justify-content: space-between;
  border: 1px solid transparent;
}

.appFunctions>section {
  gap: .25em;
  padding: .5em;
}

.appFunctions>section h5,
.appFunctions>section p {
  margin: 0;
}

.appFunctions>section>div .actions {
  gap: 1em;
  display: flex;
  background: #ffffff0f;
  padding: 0.25em;
  clip-path: polygon(0% 9px, 9px 0%, calc(100% - 9px) 0%, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0% calc(100% - 9px));
}

.appFunctions>section>div:hover {
  box-shadow: 0 10px 20px -13px black;
  border-color: #ffffff24;
}









/* DASHBOARD */

.infoBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

.infoBoxes>.infoBox {
  padding: 1em;
  flex: 1;
  min-width: 20%;
}







/*
PAGE PAGINATIONS
*/


pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

pagination options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

pagination info {}

pagination options p {
  margin: 0;
}

pagination p {
  margin: 0;
}

pagination {
  padding: 0.5em;
}

searchlist {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}


form_group {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0.5em;
}








.main_content .content section form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 0.25em;
  gap: .5em;
  display: flex;
}

footer p {
  margin: 0;
}


.main_content .content form {
  display: flex;
  flex-direction: column;
}




article.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid green;
  padding: 0.25em;
  flex: 1;
  gap: 1em;
}

video {
  width: 100%;
  height: auto;
}


article.gallery>div {
  flex: 1;
}

audio {
  margin: 0 auto;
  display: flex;
  width: 100%;
}


.flexRow {
  display: flex;
  flex-direction: row;
}

section header .flexRow {
  gap: 1em;
}









nav.isPC span,
nav.isPC button span {
  display: none;
}

nav.isPC {
  min-width: unset;
}

nav button {
  padding: 0;
  border: none;
  font-size: 1em;
}

nav button icon,
nav a icon {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav.isPC.shown {
  min-width: 275px;
}

nav.isPC.shown span,
nav.isPC.shown button span {
  display: flex;
}





keywords {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

keywords>p {
  padding: 0.5em;
  background: #2a353e;
  margin: 0;
  white-space: nowrap;
}

section.keywords h2 {
  margin: 0;
}

section.keywords {
  padding: 1em;
  /* border: 1px solid gray; */
  gap: 1em;
}




.flex-inline {
  display: inline-flex;
  gap: .5em;
  padding: 0.25em;
  align-items: center;
  justify-content: center;
}

.main_content .content header {
  padding: .5em 1em;
  clip-path: unset;
}



.base-charts-dash .base-charts-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: #ffffff08;
}



.recharts-wrapper>svg {
  width: 100%;
  height: auto;
}









.base-charts-dash {
  padding: 1em;
}

.adminUsers>section>div {
  display: flex;
  flex-direction: column;
  border: 1px solid #0000000d;
}

.adminUsers>section>div:hover {
  background: #ffffff0f;
  border: 1px solid #00000075;
  box-shadow: 0 10px 20px -10px black;
}

.adminUsers>section {
  gap: .5em;
  padding: 0.5em;
}












.public-login-page .alert {
  width: fit-content;
  padding: 1em;
  margin: 0 auto;
}

.public-login-page form {
  border: 2px solid #2d3841;
}

.public-login-page form>header {
  font-size: 1.5em;
  font-weight: bold;
  color: #656e80;
}

.main_content .content .alert header {
  padding: 0;
  background: transparent;
}



.main_content .content filter>form {
  width: auto;
  margin: 0;
  border: none;
}


.main_content .content filter>form {
  width: auto;
  margin: 0;
  border: none;
}

.main_content .content filter>form>header {
  background: #3c4b56;
}

searchlist results {
  border: 3px solid #3c4b56;
}

.main_content .content filter>form {
  width: auto;
  margin: 0;
  border: none;
}

.main_content .content filter>form>header {
  background: #3c4b56;
}

searchlist results {
  border: 3px solid #3c4b56;
  flex: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}


ul.list-group {}

.myBooks>section {
  display: flex;
  gap: .25em;
  padding: .5em;
}

.books-list-item {
  display: flex;
  justify-content: space-between;
  background: #2d3841;
  color: lightgrey;
  padding: .25em .5em;
  border: 1px solid transparent;
  align-items: center;
}

.books-list-item h4,
.books-list-item p {
  margin: 0;
}

.books-list-item:hover {
  background: #3f4e5a;
  border: 1px solid #ffffff6e;
  color: white;
}



form_group {
  background: #ffffff0d;
  padding: 0;
  border: 1px solid #2d3841;
  gap: 0;
}

form_group>label,
form_group>.inputReset {
  padding: 0.5em;
  font-size: 22px;
  margin: 0;
  display: flex;
  align-items: center;
  background: #00000038;
  cursor: text;
}


form_group:hover {
  background: #ffffff30;
}

form_group input {
  background: transparent;
  border: none;
  padding: 1em;
  color: white;
}

form_group input:focus {
  outline: none;
}


form_group {
  background: #ffffff0d;
  padding: 0;
  border: 1px solid #2d3841;
  gap: 0;
}

form_group>label {
  padding: 0.5em;
  font-size: 22px;
  margin: 0;
  display: flex;
  align-items: center;
  background: #00000038;
  cursor: text;
}


form_group:hover {
  background: #ffffff30;
}

form_group input {
  background: transparent;
  border: none;
  padding: 1em;
  color: white;
}

form_group input:focus {
  outline: none;
}


.quill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quill .ql-toolbar {
  border: none;
  border-bottom: 1px dashed #37424a;
}

.quill .ql-toolbar * {
  color: white;
  stroke: white;
}

.quill .ql-container {
  border: none;
  min-height: 25vh;
  background: linear-gradient(45deg, #37424a, transparent);
}

.main_content .content form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: calc(100% - 1em);
}


.main_content .content .public-login-page form,
.main_content .content .public-register {
  width: fit-content;
  flex: 0;
}





form_group>.inputReset {
  background: transparent;
  border-left: 1px solid #2d3841;
  cursor: pointer;
}

form_group>.inputReset:hover {
  background: #ffffff2b;
}



form_group>.inputReset {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.25em .5em;
}

form_group {
  position: relative;
  align-items: stretch;
}

form_group>label,
form_group>input,
form_group>div {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: calc(50% - 2em);
  gap: .5em;
  padding: 0.25em .5em;
}



form_group>input {
  padding-right: 55px;
}

input#search_query_string {
  flex: 1;
  display: flex;
  max-width: unset;
}

.header-search {
  display: flex;
  align-items: stretch;
  border: 1px solid #3c6e51;
}

.header-search>form_group {
  flex: 1;
  border: none;
}

form_group>.inputReset {
  height: calc(100% - .5em);
  background: #ffffff14;
}

.header-search>button {
  clip-path: unset;
  background: #3c6e51;
}

section.advanced-filters {
  padding: 1em;
  overflow: auto;
}


section.advanced-filters {
  padding: 1em;
  overflow: auto;
}

nav button icon,
nav a icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a,
nav button {
  gap: 0;
}

nav section h4 {
  gap: 0;
}

nav section h4 span,
nav section a span {
  padding: 0 0.5em;
}

nav icon {
  padding: 0;
  background: #ffffff29;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  background: #ffffff24;
}


nav.isPC>section a icon {
  width: 100%;
}

nav.isPC.shown>section a icon {
  width: 35px;
}

.quill {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none;
  align-items: unset;
}


#root>header {
  background: #1a242c;
  border-bottom: 1px solid #0000005c;
}

#root>div.main_content>div>section>header {
  padding: .5em 1em;
  clip-path: unset;
  background: #3e4659;
}


.monaco-editor {
  min-height: 500px !important;
}




.content section>div {}


.content section>div form_group p {
  margin: 0;
  padding: 0 1em;
}

.content section>div form_group {
  align-items: center;
  color: #a7a7a7;
}


.content section>div>.warning p {
  margin: 0;
}

.content section>div>.warning {
  display: flex;
  gap: 1em;
  font-size: 12px;
  padding: 0;
  align-items: center;
}

.content section>div>.warning icon {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  width: 2em;
  background: #ffffff36;
}
